---
interface Props {
  rating: number;
}

const { rating = 0 } = Astro.props as Props;

// Convert 10 → 5 scale
const ratingOutOfTen = Math.round(rating);
const ratingOutOfFive = ratingOutOfTen / 2;

const fullStars = Math.floor(ratingOutOfFive);
const halfStar = ratingOutOfFive - fullStars >= 0.5 ? 1 : 0;
const emptyStars = 5 - fullStars - halfStar;
const starRatingId = `star-${Math.random().toString(36).slice(2, 9)}`;
---

<div class="star_rating flex gap-[2px]">
  {/* Full stars */}
  {Array.from({ length: fullStars }).map(() => (
    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id={`${starRatingId}-full`} style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="13" height="13"><path d="M7.35103 1.18004L8.40692 3.30926C8.5509 3.60566 8.93486 3.88996 9.25882 3.9444L11.1726 4.26499C12.3965 4.47065 12.6844 5.36589 11.8025 6.24903L10.3147 7.74917C10.0627 8.00322 9.92475 8.49318 10.0027 8.84402L10.4287 10.701C10.7647 12.1709 9.99074 12.7395 8.70089 11.9713L6.90708 10.9007C6.58312 10.7071 6.04918 10.7071 5.71922 10.9007L3.92541 11.9713C2.64156 12.7395 1.86164 12.1649 2.1976 10.701L2.62356 8.84402C2.70155 8.49318 2.56356 8.00322 2.31159 7.74917L0.823756 6.24903C-0.0521469 5.36589 0.229822 4.47065 1.45369 4.26499L3.36748 3.9444C3.68544 3.88996 4.0694 3.60566 4.21338 3.30926L5.26927 1.18004C5.8452 0.024702 6.7811 0.024702 7.35103 1.18004Z" fill="#fc0" stroke="#ddb100" stroke-width=".63" stroke-linecap="round" stroke-linejoin="round"/></mask><g mask={`url(#${starRatingId}-full)`}><rect x=".31" y="-1.6" width="12" height="18.13" fill="#fc0"/><path d="M7.35103 1.18004L8.40692 3.30926C8.5509 3.60566 8.93486 3.88996 9.25882 3.9444L11.1726 4.26499C12.3965 4.47065 12.6844 5.36589 11.8025 6.24903L10.3147 7.74917C10.0627 8.00322 9.92475 8.49318 10.0027 8.84402L10.4287 10.701C10.7647 12.1709 9.99074 12.7395 8.70089 11.9713L6.90708 10.9006C6.58312 10.7071 6.04918 10.7071 5.71922 10.9006L3.92541 11.9713C2.64156 12.7395 1.86164 12.1649 2.1976 10.701L2.62356 8.84402C2.70155 8.49318 2.56356 8.00322 2.31159 7.74917L0.823756 6.24903C-0.0521469 5.36589 0.229822 4.47065 1.45369 4.26499L3.36748 3.9444C3.68544 3.88996 4.0694 3.60566 4.21338 3.30926L5.26927 1.18004C5.8452 0.024702 6.7811 0.024702 7.35103 1.18004Z" stroke="#ddb100" stroke-width=".63" stroke-linecap="round" stroke-linejoin="round"/></g></svg>
  ))}

  {/* Half star */}
  {halfStar === 1 && (
    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id={`${starRatingId}-half`} style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="13" height="13"><path d="M7.35103 1.18004L8.40692 3.30926C8.5509 3.60566 8.93486 3.88996 9.25882 3.9444L11.1726 4.26499C12.3965 4.47065 12.6844 5.36589 11.8025 6.24903L10.3147 7.74917C10.0627 8.00322 9.92475 8.49318 10.0027 8.84402L10.4287 10.701C10.7647 12.1709 9.99074 12.7395 8.70089 11.9713L6.90708 10.9007C6.58312 10.7071 6.04918 10.7071 5.71922 10.9007L3.92541 11.9713C2.64156 12.7395 1.86164 12.1649 2.1976 10.701L2.62356 8.84402C2.70155 8.49318 2.56356 8.00322 2.31159 7.74917L0.823756 6.24903C-0.0521469 5.36589 0.229822 4.47065 1.45369 4.26499L3.36748 3.9444C3.68544 3.88996 4.0694 3.60566 4.21338 3.30926L5.26927 1.18004C5.8452 0.024702 6.7811 0.024702 7.35103 1.18004Z" fill="#fc0" stroke="#ddb100" stroke-width=".63" stroke-linecap="round" stroke-linejoin="round"/></mask><g mask={`url(#${starRatingId}-half)`}><rect x=".31" y="-1.6" width="6" height="18.13" fill="#fc0"/><path d="M7.35103 1.18004L8.40692 3.30926C8.5509 3.60566 8.93486 3.88996 9.25882 3.9444L11.1726 4.26499C12.3965 4.47065 12.6844 5.36589 11.8025 6.24903L10.3147 7.74917C10.0627 8.00322 9.92475 8.49318 10.0027 8.84402L10.4287 10.701C10.7647 12.1709 9.99074 12.7395 8.70089 11.9713L6.90708 10.9006C6.58312 10.7071 6.04918 10.7071 5.71922 10.9006L3.92541 11.9713C2.64156 12.7395 1.86164 12.1649 2.1976 10.701L2.62356 8.84402C2.70155 8.49318 2.56356 8.00322 2.31159 7.74917L0.823756 6.24903C-0.0521469 5.36589 0.229822 4.47065 1.45369 4.26499L3.36748 3.9444C3.68544 3.88996 4.0694 3.60566 4.21338 3.30926L5.26927 1.18004C5.8452 0.024702 6.7811 0.024702 7.35103 1.18004Z" stroke="#ddb100" stroke-width=".63" stroke-linecap="round" stroke-linejoin="round"/></g></svg>
  )}

  {/* Empty stars */}
  {Array.from({ length: emptyStars }).map(() => (
    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id={`${starRatingId}-empty`} style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="13" height="13"><path d="M7.35103 1.18004L8.40692 3.30926C8.5509 3.60566 8.93486 3.88996 9.25882 3.9444L11.1726 4.26499C12.3965 4.47065 12.6844 5.36589 11.8025 6.24903L10.3147 7.74917C10.0627 8.00322 9.92475 8.49318 10.0027 8.84402L10.4287 10.701C10.7647 12.1709 9.99074 12.7395 8.70089 11.9713L6.90708 10.9007C6.58312 10.7071 6.04918 10.7071 5.71922 10.9007L3.92541 11.9713C2.64156 12.7395 1.86164 12.1649 2.1976 10.701L2.62356 8.84402C2.70155 8.49318 2.56356 8.00322 2.31159 7.74917L0.823756 6.24903C-0.0521469 5.36589 0.229822 4.47065 1.45369 4.26499L3.36748 3.9444C3.68544 3.88996 4.0694 3.60566 4.21338 3.30926L5.26927 1.18004C5.8452 0.024702 6.7811 0.024702 7.35103 1.18004Z" fill="#fc0" stroke="#ddb100" stroke-width=".63" stroke-linecap="round" stroke-linejoin="round"/></mask><g mask={`url(#${starRatingId}-empty)`}><path d="M7.35103 1.18004L8.40692 3.30926C8.5509 3.60566 8.93486 3.88996 9.25882 3.9444L11.1726 4.26499C12.3965 4.47065 12.6844 5.36589 11.8025 6.24903L10.3147 7.74917C10.0627 8.00322 9.92475 8.49318 10.0027 8.84402L10.4287 10.701C10.7647 12.1709 9.99074 12.7395 8.70089 11.9713L6.90708 10.9006C6.58312 10.7071 6.04918 10.7071 5.71922 10.9006L3.92541 11.9713C2.64156 12.7395 1.86164 12.1649 2.1976 10.701L2.62356 8.84402C2.70155 8.49318 2.56356 8.00322 2.31159 7.74917L0.823756 6.24903C-0.0521469 5.36589 0.229822 4.47065 1.45369 4.26499L3.36748 3.9444C3.68544 3.88996 4.0694 3.60566 4.21338 3.30926L5.26927 1.18004C5.8452 0.024702 6.7811 0.024702 7.35103 1.18004Z" stroke="#ddb100" stroke-width=".63" stroke-linecap="round" stroke-linejoin="round"/></g></svg>
  ))}
</div>
